* {
  margin: 0;
  padding: 0;
}
.flexbox {
  display: flex;
  border: 1px solid;
  justify-content: center;
  align-items: center;
}
.left-part {
  width: 400px;
  height: 450px;
  background-color: yellow;
}
.right-part {
  background-color: whitesmoke;
  width: 600px;
  height: 450px;
}
.img {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 130px;
  width: 150px;
  background-color: rgb(224, 132, 56);
  border-radius: 50%;
}
.text {
  text-align: center;
  padding: 30px 7px 20px 7px;
}
.right-part {
  display: flex;
  background-color: whitesmoke;
  padding-top: 20px;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  align-items: center;
  margin-left: 30px;
  margin-top: 50px;
}
.border-box{
    box-sizing: border-box;
    
}